.progress {
    position: relative;
    background-color: #d8d8d8;
    border-radius: 20px;
    height: 40px;
    width: 100%;
}

.progress-done {
    position: absolute;
    background: linear-gradient(to left, rgb(0, 179, 255), rgb(0, 251, 255));
    box-shadow: 0 3px 3px -5px rgb(0, 179, 255), 0 2px 5px rgb(0, 179, 255);
    border-radius: 20px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    z-index: 9;
}

.progress-text {
    display: flex;
    position: relative;
    z-index: 10;
    height: 100%;
    align-items: center;
    justify-content: center;
    padding: 15px;
}